In [1]:
import pandas as pd

df = pd.read_csv("apple_no_date.csv")
df.head()

    Close     Volume    Open    High     Low
0  140.36  104132700  140.81  141.97  137.33
1  143.11  117726300  137.79  143.26  137.65
2  137.59  137426100  139.09  140.70  132.61
3  137.35  136095600  139.88  141.66  136.60
4  140.82  109742900  146.85  147.36  139.90