### Different way of creating dataframe

1. Using CSV<br>
2. Using Excel<br>
3. From python dictionary<br>
4. From list of tuples<br>
5. from list of dictionary<br>

## 1. Using CSV

In [5]:
import pandas as pd

df = pd.read_csv("heart.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

## 2. Using Excel

In [8]:
import pandas as pd

df = pd.read_excel("Weather.xlsx","Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow
3 2017-01-04           24          7   Snow
4 2017-01-05           32          4   Rain
5 2017-01-06           32          2  Sunny

## 3. From python dictionary

In [9]:
weather_data = {
    
    'day':['1/1/2017','2/1/2017','3/1/2017'],
    'temperature':[32,35,28],
    'windspeed':[6,7,2],
    'event':['Rain','Sunny','Snow']
    
}

wd = pd.DataFrame(weather_data)
wd

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  2/1/2017           35          7  Sunny
2  3/1/2017           28          2   Snow

## 4. From list of tuples

In [10]:
# In this case we have to provide columns name

weather_Data = [
    ('1/1/2017',32,6,'Rain'),
    ('2/1/2017',35,7,'Sunny'),
    ('3/1/2017',28,2,'Snow')   
]

df = pd.DataFrame(weather_Data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  2/1/2017           35          7  Sunny
2  3/1/2017           28          2   Snow

## 5. From list of dictionary

In [11]:
weather_data = [
    {'day':'1/1/2017','temperature':32,'windspeed':6,'event':"Rain"},
    {'day':'2/1/2017','temperature':35,'windspeed':7,'event':"Sunny"},
    {'day':'3/1/2017','temperature':28,'windspeed':2,'event':"Snow"}
    
]

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  2/1/2017           35          7  Sunny
2  3/1/2017           28          2   Snow