In [23]:
#TimeSeries is a set of data points indexed in time order

In [1]:
import pandas as pd
df = pd.read_csv("HistoricalDataApple.csv", parse_dates=["Date"],index_col="Date")
df.head(5)

               Close     Volume      Open      High       Low
Date
2022-05-24  $140.36   104132700  $140.81   $141.97   $137.33
2022-05-23  $143.11   117726300  $137.79   $143.26   $137.65
2022-05-20  $137.59   137426100  $139.09   $140.70   $132.61
2022-05-19  $137.35   136095600  $139.88   $141.66   $136.60
2022-05-18  $140.82   109742900  $146.85   $147.36   $139.90

In [ ]:
df['Close'] = df['Close'].replace({'\$': '', ',': ''}, regex=True)
df.to_csv("NewHistoricalDataApple.csv",index=False)

In [2]:
#type(df.Date[0])

In [3]:
df.shape

(253, 5)

In [4]:
df["2022-01"]

               Close     Volume      Open      High       Low
Date
2022-01-31  $174.78   115541600  $170.16      $175   $169.51
2022-01-28  $170.33   179935700  $165.71   $170.35   $162.80
2022-01-27  $159.22   121954600  $162.45   $163.84   $158.28
2022-01-26  $159.69   108275300  $163.50   $164.39   $157.82
2022-01-25  $159.78   115798400  $158.98   $162.76   $157.02
2022-01-24  $161.62   162706700  $160.02   $162.30   $154.70
2022-01-21  $162.41   122848900  $164.42   $166.33   $162.30
2022-01-20  $164.51    91420520  $166.98   $169.68   $164.18
2022-01-19  $166.23    94814990     $170   $171.08   $165.94
2022-01-18  $169.80    91168730  $171.51   $172.54   $169.41
2022-01-14  $173.07    80440780  $171.34   $173.78   $171.09
2022-01-13  $172.19    84505760  $175.78   $176.62   $171.79
2022-01-12  $175.53    74805170  $176.12   $177.18   $174.82
2022-01-11  $175.08    76138310  $172.32   $175.18   $170.82
2022-01-10  $172.19   106765600  $169.08   $172.50   $168.17
2022-01-07  $172.17    86709150  $172.89   $174.14   $171.03
2022-01-06     $172    96903960  $172.70   $175.30   $171.64
2022-01-05  $174.92    94537600  $179.61   $180.17   $174.64
2022-01-04  $179.70    99310440  $182.63   $182.94   $179.12
2022-01-03  $182.01   104701200  $177.83   $182.88   $177.71

##### Find average price of apple's stock in jan,2017

In [29]:
dataFrame

TypeError: Could not convert $174.78 $170.33 $159.22 $159.69 $159.78 $161.62 $162.41 $164.51 $166.23 $169.80 $173.07 $172.19 $175.53 $175.08 $172.19 $172.17 $172 $174.92 $179.70 $182.01  to numeric